<div class="row search-row" style="background:#00ACE7 ; color:white ; height:50px">
  <div class="col-xs-1">
    <h4 class="logo">SendDoc.to</h4>
  </div>


</div>
<div style="text-align: center">
  <h4 style="font-weight: bold">Documents Upload</h4>
</div>

<div class="col-md-8 bg-white ">
    <div class="chat-message">
        <ul class="chat">
            <li class="left clearfix" *ngFor="let msj of messageList; let i = index"  [hidden]="!msj.show">
              <span class="chat-img pull-left">
                <img src="{{msj.avatar}}" alt="User Avatar">
              </span>
              <div class="chat-body clearfix">
                <div class="header">
                  <strong class="primary-font">{{msj.name}}</strong>
                  <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                </div>
                <p>
                  {{msj.msj}}
                </p>
              </div>
            </li>

            <form >
              <li class="left clearfix" *ngFor="let doc of docRequest.docArray; let i = index" [hidden]="!doc.show" >
                <span class="chat-img pull-left">
                  <img src="{{avatarService}}" alt="User Avatar">
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">Eva</strong>
                    
                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                  </div>
                  <p>
                    <input type="file" class="form-control" name="single" (click)="updateFileIndex(i)" ng2FileSelect [uploader]="uploader" [disabled]="doc.attachment != null"/>
                    <a href="/view/{{doc.attachment}}">View uploaded file</a>
                  </p>
                </div>
              </li>
            </form>

        </ul>
    </div>
    <div class="chat-box bg-white">
      <div class="input-group">
        <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
        <span class="input-group-btn">
          <button class="btn btn-success no-rounded" type="button">Send</button>
        </span>
      </div><!-- /input-group -->
    </div>
</div>
