<style>
.form-input {
    border: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #FAFAFA;
    text-align: center;
    box-shadow: none;
}
</style>

<div style="margin: auto; text-align: center; color: black">
    <div style="height: 50px; background-color: #00ACE7; font: 16px carnas; color: #FFFFFF; padding-top: 24px"><span (click)="callParent()" style="float: left; margin-left: 1%">X</span>New message</div>
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email" required>
            <div *ngIf="formErrors.email" class="alert alert-danger">
                {{ formErrors.email }}
            </div>
        </div>

        <div class="form-input">
            <input type="text" placeholder="Phone +12572481347" class="form-control" id="phonenum" formControlName="phone" required>

            <div *ngIf="formErrors.phone" class="alert alert-danger">
                {{ formErrors.phone }}
            </div>
        </div>

        <div class="form-input">
            <textarea type="text" placeholder="Your message" class="form-control" id="message" formControlName="message" required></textarea>
            <div *ngIf="formErrors.message" class="alert alert-danger">
                {{ formErrors.message }}
            </div>
        </div>

        <div formArrayName="docArray">
            <div *ngFor="let address of requestForm.controls.docArray.controls; let i=index" class="form-input">
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="requestForm.controls.docArray.controls.length > 1" (click)="delInput(i)"></span>
                <div [formGroupName]="i">
                    <input type="text" placeholder="Document name" class="form-control" formControlName="name">
                    <small [hidden]="requestForm.controls.docArray.controls[i].controls.name.valid" class="text-danger">
                        Document name is required
                    </small>
                </div>
          </div>
        </div>
<div>
    <a (click)="addInput()">Add Document</a>
</div>

        <div class="form-input">
            <textarea type="text" placeholder="Thank you message" class="form-control" id="thanks" formControlName="thanks" required></textarea>
            <div *ngIf="formErrors.thanks" class="alert alert-danger">
                {{ formErrors.thanks }}
            </div>
        </div>

        <button type="submit" class="btn" style="width: 70%; height: 50px; margin-top: 10px; background-color: #00ACE7; color: white" [disabled]="!requestForm.valid">Send</button>

    </form>
</div>
