<mat-tab-group class="quickpanel">
  <mat-tab label="Overview">
    <vr-scrollbar class="overflow-container">
      <div class="overview">
        <p>TODAY</p>
        <p class="h1">
          <span>{{ todayDay }}</span> <br/>
          <span>{{ todayDate }}</span><span style="font-size: 18px; vertical-align: top;">{{ todayDateSuffix }}</span><span>{{ todayMonth }}</span>
        </p>
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list>

      </mat-nav-list>
    </vr-scrollbar>
  </mat-tab>
  <mat-tab label="Notifications">
    <vr-scrollbar class="overflow-container">
      <mat-nav-list>
        <h3 md-subheader>Friends</h3>
        <a href="javascript:" md-list-item>
          <img md-list-avatar src="assets/img/demo/avatars/1.png">
          <h3 md-line> Sophie </h3>
          <p md-line>
            <span> Dinner? </span>
            <span class=""> -- Are we still going out tonight? </span>
          </p>
        </a>
        <a href="javascript:" md-list-item>
          <img md-list-avatar src="assets/img/demo/avatars/4.png">
          <h3 md-line> Jack </h3>
          <p md-line>
            <span> Golf weekend </span>
            <span class=""> -- Hey! You wanted to go play Golf? </span>
          </p>
        </a>
        <a href="javascript:" md-list-item>
          <img md-list-avatar src="assets/img/demo/avatars/9.png">
          <h3 md-line> Cody </h3>
          <p md-line>
            <span> Code Quality </span>
            <span class=""> -- Love your newest theme, so clean and slick! </span>
          </p>
        </a>
        <a href="javascript:" md-list-item>
          <img md-list-avatar src="assets/img/demo/avatars/16.png">
          <h3 md-line> James </h3>
          <p md-line>
            <span> Gaming? </span>
            <span class=""> -- You wanna throw a party this weekend? </span>
          </p>
        </a>
        <a href="javascript:" md-list-item>
          <img md-list-avatar src="assets/img/demo/avatars/19.png">
          <h3 md-line> Jessica </h3>
          <p md-line>
            <span> Love you... </span>
            <span class=""> -- Hope we can see us again soon :) </span>
          </p>
        </a>

        <mat-divider></mat-divider>

        <h3 md-subheader>Server Statistics</h3>
        <a md-list-item>
          <p md-line>CPU Load (71% / 100%)</p>
          <p md-line><mat-progress-bar mode="determinate" color="primary" value="71"></mat-progress-bar></p>
        </a>
        <a md-list-item>
          <p md-line>RAM Usage (6,175 MB / 16,384 MB)</p>
          <p md-line><mat-progress-bar mode="determinate" color="accent" value="34"></mat-progress-bar></p>
        </a>
        <a md-list-item>
          <p md-line>CPU Temp (43° / 80°)</p>
          <p md-line><mat-progress-bar mode="determinate" color="warn" value="54"></mat-progress-bar></p>
        </a>
      </mat-nav-list>
    </vr-scrollbar>
  </mat-tab>
</mat-tab-group>
