::ng-deep .mat-drawer-content {
  margin-left: 275px;
}
.md-padding{
  padding: 8px;
}

.page-chat .chat-container .chat {
    background: white;
    height: calc(100% - 74px);
    max-height: 100%;
}

.chat-img img {
   border-radious:50%;
   width: 40px;
}
