<div class="page-chat">

  <vr-page-header [height]="'160px'" background="url(/assets/img/demo/headers/mac-2.png)" [reverse]="true"></vr-page-header>

  <div class="page chat-container container">

    <vr-breadcrumbs [currentPage]="'Sent'" [names]="['Mail']" [header]="'primary'"></vr-breadcrumbs>

    <div class="chat mat-elevation-z4">

        <div fxLayout="row" style="height:100%" >
          <md-card-content fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-lg="40" style="overflow-y: auto" >
             <md-nav-list >
                <md-list-item  *ngFor="let item of sentData" (click)="setActiveMsg(item)" >
                   <div class="mat-list-item" style="width: 100%">
                     <h4 style="font-weight: 700; margin: 0 " md-line>{{item.phone}}<span  style="font-size: x-small; float: right; ">{{item.datetime | timeAgo}}</span></h4>
                     <p md-line>{{item.shortmessage}}</p>
                   </div>
                  <md-divider></md-divider>
                </md-list-item>


             </md-nav-list>


           </md-card-content>

         <md-card style="padding: 30px; width: 100%; border: 0.7px solid lightgrey">
           <md-card-header>
             <div fxLayout="column"  *ngIf="activeMsg">
               <span class="name">{{activeMsg.phone}}</span>
               <span class="status">{{activeMsg.shortmessage}}</span>

             </div>

           </md-card-header>
           <md-divider></md-divider>

           <md-card-content>
             <div class="chat-content" fxLayout="column" fxLayoutAlign="start stretch">

               <vr-scrollbar #chatScroll>
                 <div class="messages-container">
                   <div *ngIf="activeMsg" >

                     <p >Message sent to {{activeMsg.phone}} requesting
                       <span *ngFor="let doc of activeMsg.docArray">{{doc.name}}  </span>
                       for {{activeMsg.refnumb}} application
                     </p>
                   </div>
                 </div>
                 <div #scrollToBottomElem></div>
               </vr-scrollbar>
             </div>

           </md-card-content>




          </md-card>
        </div>
    </div>
  </div>
</div>



