<div class="profile">

  <vr-page-header [height]="'416px'" background="url(/assets/img/demo/headers/pattern-1.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'Profile'" [header]="'primary'"></vr-breadcrumbs>

    <div class="splash mat-elevation-z4" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="space-between">

      <div class="left" fxLayout="row">

        <img fxFlex="150px" class="picture" src="{{auth.userProfile?.picture}}">

        <div fxLayout="column" fxLayoutAlign="space-between">
          <div>
            <div class="name">{{auth.userProfile?.name}}</div>

            <div class="contact" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
              <mat-icon class="icon">mail</mat-icon>
              <span>{{auth.userProfile?.email}}</span>
            </div>
          </div>


        </div>

      </div>

      <div class="right" fxLayout="column" fxLayoutAlign="space-between">
        <div class="info" fxLayout="row">
          <div class="names">
            <div class="name">Company:</div>
            <div class="name">Address:</div>
            <div class="name">Telephone:</div>
          </div>
          <div class="values">
            <div class="value">SyneBank.Inc</div>
            <div class="value">11 Times Square, New York, NY 10036</div>
            <div class="value">+1-202-555-0184</div>
          </div>
        </div>

      </div>

    </div>

    <div class="profile-tabs clean-tabs mat-elevation-z4">

    <div  *ngIf="!showFormBot">
     <vr-profile-bots  [bots]="botsElements"
                      (botWasSelected)="onBotSelected($event)"
                      (newBot)="onNewBot()"
     ></vr-profile-bots>
     </div>

     <div  *ngIf="showFormBot">

       <vr-bots-preview [bot]="botSelected" (closePreview)="onShowBots($event)" ></vr-bots-preview>
      <!-- <vr-create-bot [bot]="botSelected"
                    (closeForm)="onShowBots($event)" ></vr-create-bot> -->
     </div>
    </div>

  </div>
</div>
