<style>
.request-form-wrap {
    right: 0; 
    top: 0; 
    z-index: 100; 
    background: #FFFFFF; 
    overflow: hidden; 
    padding-bottom: 100%; 
    margin-bottom: -100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #FAFAFA
}
.new-message {
    float: right;
    border-radius: 0px;
    height: 100%;
    background-color: #00ACE7;
    color: white;
}
@media only screen and (max-width: 600px) {
    .new-message {
        width: 100%;
    }
    .request-form-wrap {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .new-message {
        width: 30%;
    }
    .request-form-wrap {
        width: 30%;
    }
}
</style>
<div class="container-fluid" style="overflow: hidden; background: #FAFAFA">

    <div class="row">
        <navbar></navbar>
        <aside *ngIf="showRequestForm" class="request-form-wrap" style="position: absolute">
            <request-form></request-form>
        </aside>
    </div>

    <div style="height: 85vh; background-color: #FAFAFA; margin-top: 2%">
        <div class="row" style="text-align: center">
            <p>No messages yet</p>
        </div>
    </div>

    <div class="row footer">
        <button class="new-message btn" (click)="toggleShowRequest()">New message</button>
    </div>
</div>
