<style>
  .fieldWidth{
    width: 100%;
  }
</style>

<div class="form-elements">

  <vr-page-header [height]="'180px'" background="url(/assets/img/demo/headers/mac-1.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <vr-breadcrumbs [currentPage]="'Message'" [names]="['Message']" [header]="'primary'"></vr-breadcrumbs>

    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
        <div class="basic-forms card alternative" fxFlex="100%" fxFlex.gt-sm>
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="title">Message Request</div>
            </div>
          </div>

          <div class="content" fxLayout="column">

            <form #myForm="ngForm" [formGroup]="requestForm" (ngSubmit)="onSubmit();">
            <div class="result" fxLayout="column">

              <mat-input-container class="fieldWidth" >
                <input id="refnumb" name="refnumb" matInput placeholder="Reference Number " type="text" formControlName="refnumb" required>
                <mat-error *ngIf="formErrors.refnumb" >
                    Reference number must be 50 characters, letters and numbers
                </mat-error>
              </mat-input-container>

                <mat-input-container class="fieldWidth">
                  <input id="email" name="email" matInput placeholder="Email" type="text" formControlName="email" required>
                  <mat-error *ngIf="formErrors.email">
                    Please enter a valid email address
                  </mat-error>
                </mat-input-container>

                <mat-input-container class="fieldWidth">
                   <input id="phone" name="phone" matInput placeholder="Phone Number" type="text" formControlName="phone" required>
                   <mat-error *ngIf="isphoneError">
                      {{ phonemsg }}
                   </mat-error>
                </mat-input-container>

              <mat-input-container class="fieldWidth" >
                <input id="shortmsg" name="shortmsg" matInput placeholder="Short message" type="text" formControlName="shortmessage" required>
              </mat-input-container>

              <mat-input-container class="fieldWidth">
                <textarea id="detailedmsg" name="detailedmsg" matInput placeholder="Detailed Message" type="text" formControlName="detailedmessage" required></textarea>
              </mat-input-container>

              <div formArrayName="docArray">
                <div *ngFor="let address of requestForm.controls.docArray.controls; let i=index" >
                  <div [formGroupName]="i">
                      <mat-input-container class="fieldWidth" >
                          <input id="doclist1" name="doclist1" matInput placeholder="Documents" type="text" formControlName="name" required>
                          <mat-icon matSuffix (click)="addInput()">add</mat-icon>
                          <mat-icon matSuffix *ngIf="requestForm.controls.docArray.controls.length > 1" (click)="delInput(i)">clear</mat-icon>
                      </mat-input-container>
                  </div>
                </div>
              </div>

                <mat-input-container class="fieldWidth">
                <input id="thankmsg" name="thankmsg" matInput placeholder="Thank you" type="text" required>
              </mat-input-container>

              <mat-card>
                <mat-card-content fxLayout="column" fxLayout.gt-sm="row" >
                <button type="submit" mat-raised-button  color="accent">Send</button>
                </mat-card-content>
              </mat-card>

            </div>
            </form>
          </div>
        </div>


      </div>








    </div>
  </div>
</div>
