<div class="col-md-12 bg-white box">
  <div class="chat-message">
    <ul class="chat">
      <form>
        <li class="left clearfix" *ngFor="let msj of itemsBot; let i = index" [hidden]="!msj.show">
          <span class="chat-img pull-left">
                <img src="{{bot.avatar}}" alt="User Avatar">
              </span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">{{msj.name}}</strong>
              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ dateUpdate}}</small>
            </div>
            <p *ngIf="!msj.file">
              {{msj.msj}}
            </p>
            <p *ngIf="msj.file">
              {{msj.msj}}
            </p>
            <p *ngIf="msj.file">
              <input type="file" class="form-control" name="single" (click)="updateFileIndex(msj.docIndex)" ng2FileSelect [disabled]="msj.attachment != null" />
            </p>
          </div>
        </li>
      </form>
    </ul>
  </div>
</div>
