<div class="project-widget">
  <div class="card border space">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="name">Bots</div>

      <div class="actions" fxLayout="row">

        <button type="button" mat-button color="primary" (click)="onNewBot()">New Bot</button>

      </div>
    </div>


    <div class="content">
      <table class="table table-hover table-condensed table-bordered">
        <thead>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Url</th>
          <th>Items</th>
          <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bot of bots" (click)="onBotSelect(bot)"  style="cursor:pointer !important">
          <!-- <td class="avatar-cell"><img class="avatar" [src]="'../../assets/avatar-chica.png'"></td> -->
          <td class="avatar-cell"><img class="avatar" [src]="bot.avatar"> </td>
          <td>{{ bot.name}}</td>
          <td>{{ bot.url}}</td>
          <td>{{ bot.itemArray.length }}</td>
          <td>
            <div *ngIf="bot.active" class="status-circle accent"></div>
            <div *ngIf="!bot.active" class="status-circle warn"></div>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- <div class="chart">
        <canvas width="150" height="30" #canvas></canvas>
      </div> -->
    </div>


    <div class="footer" fxLayout="row" fxLayoutAlign="end center">
      <button type="button" mat-button color="primary" (click)="onNewBot()">New Bot</button>
    </div>
  </div>
</div>
