<div class="simple-table">

    <div class="container">

     <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="16px" fxLayoutAlign="start start">

      <div fxFlex class="mat-elevation-z2">
        <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Active</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bot of bots">
            <td>{{ bot.name}}</td>
            <td>{{ bot.url }}</td>
            <td>{{ bot.active }}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
